
<h1 class="show">任务名称：<%= @job.title %> </h1>

<p class="show">
  任务描述：<%= @job.description%>
</p>

<br><br><br><br><br><br>
<div class="text-center">
  <%= link_to("领取任务", new_job_resume_path(@job), :style => "font-size: 30px; color: #896c39; text-dexoration:underline;")%>
</div>

<br><br><br>
<table class="table table-bordered ">
  <thead>
   <tr>
       <th class="heihei">已申请者送出的内容</th>
    </tr>
  </thead>
  <tbody>
  <% @resumes.each do |resume| %>
  <tr>
   <td class="hehe"><%= simple_format(resume.content) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<br><br><br><br>
<div>
  <div class="show">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/qAIrj_Vqdfc" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
  <embed src="http://music.163.com/style/swf/widget.swf?sid=32526653&amp;type=2&amp;auto=1&amp;width=320&amp;height=66" width="0" height="0" &#160;="" allownetworking="all">
<br><br><br>
