<!DOCTYPE html>

<head>
  <link href="/baiyin.css" rel="stylesheets/baiyin.css">

</head>

<body>
  <header>

    <h1>白银任务介绍</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eYNCCu0y-Is?autoplay=1" frameborder="0" allowfullscreen></iframe>

  </header>
<br><br>
  <article>
  <h2>计谋</h2>
  <p>　　达拉然下水道的一个线人发现一名银色盟约密探正在乌鸦旅店收集情报。<br>

　　在目前阶段，你需要情报和计谋。<br>

　　盟约通常不会出现在那些下水道里。他们在那里一定有着某种不可告人的计划。你要利用这些</p>
  </article>
  <br><br>
  <article>
    <h2>白银杀手榜</h2>
    <p>
      1、冰霜，常冰雾缠身，善用计谋，曾入黄金榜。
<img src="https://ww3.sinaimg.cn/large/006tNc79jw1fbq5txtefaj30b40goabn.jpg" width="128px" height="128px" />
</p>
<p>
  2、国王king，放弃王位的杀手，权势滔天。
<img src="https://ww1.sinaimg.cn/large/006tNc79jw1fbq5vqdnzcj308b04oq2v.jpg" width="128px" height="128px" />
</p>

<p>
  3、刀皇，一刀走天下，遇神杀神，遇佛杀佛。
<img src="https://ww1.sinaimg.cn/large/006tNc79jw1fbq5wo0gjwj304w04wq2t.jpg" width="128px" height="128px" />
</p>

</article>


</body>
