<!DOCTYPE html>
<head>
  <link href="/normalize.css" rel="stylesheet">

</head>

<body>
  <header>

    <h1>黑铁任务介绍</h1>

  </header>
<br><br>
  <article>
  <h2>勇气</h2>
  <p>　　你可以在秩序竞技场外的工艺之厅里找到弗诺斯·达克维尔。杀掉那个卑鄙的家伙，拿到铁胆之锤。<br>

　　这一阶段，武器和勇气同等重要。<br>

　　即使向邪恶献身，你也要得到力量。</p>
  </article>
  <br><br>
  <article>
    <h2>黑铁杀手榜</h2>
    <p>
      1、圣弗朗西斯科，勇蛮，力拔山河。
<img src="https://ww1.sinaimg.cn/large/006tNc79jw1fbq62c2362j305k05kq2u.jpg" width="128px" height="128px" />
</p>
<p>
  2、兽.宇，榜中唯一一名兽族，近年未曾出手，实力无法估算。
<img src="https://ww3.sinaimg.cn/large/006tNc79gw1fbq63jsdnqj304o04ojra.jpg" width="128px" height="128px" />
</p>

<p>
  3、天星，擅长弓箭，曾赴荒漠取宝攻，全身而退。
<img src="https://ww3.sinaimg.cn/large/006tNc79gw1fbq64wlbmyj304006o3ya.jpg" width="128px" height="128px" />
</p>
  </article>
<a class="link" href="/">酒馆首页</a>
<br>
<a class="link" href="/jobs">任务页</a>
</body>
