<!DOCTYPE html>


<head>
  <link href="/normalize.css" rel="stylesheet">

</head>

<body>
  <header>

    <h1>黄金任务介绍</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9knaO4gK7aw" frameborder="0" allowfullscreen></iframe>


  </header>
<br><br>
  <article>
  <h2>团队精神</h2>
  <p>　　為了击杀传奇，你必須主動出擊。而一個好的作戰計劃需要一個好的團隊。<br>

　　招募尽可能多的佼佼者作為你的勇士。<br>

　　而那些行走在黑暗中的亡命之徒正適合，為了获得财富，他們很願意為此獻身。</p>
  </article>
  <br><br>
  <article>
    <h2>黄金杀手榜</h2>
    <p>
      1、无邪，杀敌于千里之外，出手无形。
<img src="https://ww4.sinaimg.cn/large/006tNc79jw1fbq461fc3cj305c05c0sk.jpg" width="128px" height="128px" />
</p>
<p>
  2、莫邪，一手暗器让敌人无法防备，从不以真面目示人。
<img src="https://ww3.sinaimg.cn/large/006tNc79gw1fbq49vxkulj3046046mx0.jpg" width="128px" height="128px" />
</p>

<p>
  3、花神，杀手榜中唯一女性，实力仅为估算，见过她出手的人都已经消失。
<img src="https://ww4.sinaimg.cn/large/006tNc79gw1fbq4dn8t98j304f04f3yc.jpg" width="128px" height="128px" />
</p>
  </article>

</body>
