   <div>
     <h1 class="title">血色酒馆</h1>
     <p class="slogan">那些年你想要的
     <br>
     那些年你得不到的
     <br>
      来这里试试吧！
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">领取任务</a></p>
   </div>
   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww3.sinaimg.cn/large/006y8lVagw1fbp1fpe0pjj30go09e76p.jpg" alt="search" class = "img-big">
             <div class="caption">
               <h3><a href="/huangjin" class="btn btn-danger btn-lg active" role="button">黄金级</a></h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006y8lVagw1fboslfak8aj307w04xjr7.jpg" alt="bid" class = "img-big">
             <div class="caption">
               <h3><a href="/baiyin" class="btn btn-danger btn-lg active" role="button">白银级</a></h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006y8lVagw1fbp15hsaidj30dw0890sr.jpg" alt="heart" class = "img-big">
             <div class="caption">
               <h3><a href="/heitie" class="btn btn-danger btn-lg active" role="button">黑铁级</a></h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
