.overall{
  overflow: hidden;
  background-color: rgb(247,247,247);

}
.show1{
  background-color: rgb(215,215,228);
  width: 70%;
  float: left;
}
.show2{
  float: right;
  width: 30%;
}
.show3{
  margin-top: 30px;
  background-color: white;
  text-align: center;
}
