

    <div class="container">
    <h3>关于我们</h3>
        <hr />
            <div class="text-center center-block">


                <p class="txt-railway">- Killer's World.com -</p>
                <br />
                    <a href="https://www.facebook.com/profile.php?id=100014203143101"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    	            <a href="https://twitter.com/zhengzhi2936"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
    	            <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    	            <a href="mailto:zhengzhi2616@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>

                  <div class="footer-bottom">
                          <div class="container">
                              <p class="pull-left"> Copyright © killer's world. All right reserved. </p>


                              <div class="pull-right">
                                  <ul class="nav nav-pills payments">
                                  	<li><i class="fa fa-cc-visa"></i></li>
                                      <li><i class="fa fa-cc-mastercard"></i></li>
                                      <li><i class="fa fa-cc-amex"></i></li>
                                      <li><i class="fa fa-cc-paypal"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
    </div>
        <hr />
    </div>
